<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a [routerLink]="['/login']" class="h1"><b>SUGCM</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Gestiona tus citas médicas desde aquí</p>

        <form [formGroup]="form" novalidate (ngSubmit)="login()">
          <div class="input-group mb-3">
            <input type="email" formControlName="email" class="form-control"
              placeholder="Introduzca el correo electrónico">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div *ngIf="form.controls.email.touched && form.controls.email.invalid" class="text-danger">
            <p *ngIf="form.controls.email.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo es obligatorio
            </p>
            <p *ngIf="form.controls.email.hasError('email')" class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo debe ser un correo electrónico
            </p>
          </div>
          <div class="input-group mb-3">
            <input type="password" formControlName="password" class="form-control"
              placeholder="Introduzca la contraseña">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div *ngIf="form.controls.password.touched && form.controls.password.invalid" class="text-danger">
            <p *ngIf="form.controls.password.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo es obligatorio
            </p>
            <p *ngIf="form.controls.password.hasError('minlength')" class="font-medium text-red-500 text-xs mt-1 ml-1">
              Este campo debe tener más de 6 caracteres
            </p>
          </div>
          <div class="row">
            <div class="col-7">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Recordarme
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-5">
              <button type="submit" class="btn btn-primary btn-block">Iniciar
                sesión</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div *ngIf="errorMessage" class="mt-2 alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>

        <hr>

        <p class="mb-1">
          <a [routerLink]="['/forgot-password']">¿Olvidaste tu contraseña?</a>
        </p>
        <p class="mb-0">
          <a [routerLink]="['/register']" class="text-center">Regístrate aquí</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->
</div>